# application.yml (공통 설정)
spring:
  application:
    name: focus-to-levelup

  profiles:
    active: ${SPRING_PROFILE:local}

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    open-in-view: false
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQLDialect

# JWT 설정
jwt:
  secret: ${JWT_SECRET}

# Apple Sign In 설정
apple:
  client-id: ${APPLE_CLIENT_ID}
  team-id: ${APPLE_TEAM_ID}
  key-id: ${APPLE_KEY_ID}
  private-key: ${APPLE_PRIVATE_KEY}

logging:
  level:
    org:
      springframework:
        web: DEBUG
