name: CI/CD for Production (Docker Compose)

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  call-cicd-template:
    name: Call CI/CD Template for Production
    uses: ./.github/workflows/cicd-template.yml
    secrets: inherit
    with:
      environment: 'prod'
